body {
	text-align: center;
	display: block;
	margin: 0 auto;
}

h1 {
	background-color: lightblue;
	font-weight: bold;
	padding: 50px;
	margin: 0 0 20px 0;
}

li{
	text-decoration: none;
	list-style-type: none;
}

span {
	font-size: 25px;
}

input {
	padding: 5px 50px;
	margin: 5px;
}

#map {
  height: 400px;
  width: 100%;
  background-color: grey;
}

#address:focus {
  border-color: lightgrey;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}